:root
{
/*  Text Colors.    */

--Very-dark-desaturated-blue: hsl(238, 29%, 16%);
--Soft-red: hsl(14, 88%, 65%);


--Very-dark-grayish-blue: hsl(237, 12%, 33%);
--Dark-grayish-blue: hsl(240, 6%, 50%);


/*  Background Colors.    */

--Soft-violet: hsl(273, 75%, 66%);
--Soft-blue: hsl(240, 73%, 65%);

/*  Dividers Colors.    */

--Light-grayish-blue: hsl(240, 5%, 91%);
}

*
{
    box-sizing: border-box;
}

img
{
    inline-size: 100%;
    object-fit: cover;
}
body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Soft-violet);
    min-height: 100vh;

    font-family: 'Kumbh Sans', sans-serif;
    font-size:1rem;
}
main
{

    width: 100%;
    padding: 1.5rem;
}
.faq
{
    background-color: white;
    margin: 40% auto 4rem auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    position: relative;
    min-width: 280px;

}


.faq__decoration
{
    display: flex;
    position: absolute;
    inline-size: 75%;
    transform: translateY(-58.9%);


}
.faq__decoration >*
{
    inline-size: 100%;
}

.faq__decoration-bg
{
    position: absolute;
    align-self: flex-end;
    transform: translateY(30%);
    z-index: 0;   
}

.faq__decoration-img
{
    z-index: 1;
}

.faq__content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40%;
    inline-size: 100%;
    gap: 1rem;
    padding-bottom: 2rem;
}
.faq__content > *
{
    inline-size: 100%;
    padding: 0 1.5rem;
}   


.faq h1
{
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--Very-dark-desaturated-blue);

}

.faq__list
{
    font-size: .8em;
    color: var(--Very-dark-desaturated-blue);
   
}

.faq__list-item
{
    padding: 1.5rem 0;

    border-bottom: 1px solid var(--Light-grayish-blue);
}


.faq__question::after
{
    content: url(../images/icon-arrow-down.svg);
}

.faq__question
{
    display: flex;
    justify-content: space-between;

}
.faq__answer
{
    margin-top: .5rem;
    line-height: 1rem;
    opacity: .7;
}